.pagination {
  display: flex;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  list-style: none;
}

.pagination__item {
  &:not(:last-child) {
    margin-right: 0.25rem;
  }
  &--truncate {
    padding: 0.2em 0.5rem;
    letter-spacing: 1px;
  }
  &.is-disabled {
    padding: 0.2em 0.5rem;
    pointer-events: none;
    opacity: 0.7;
  }
}

.pagination__link {
  display: block;
  padding: 0.2em 0.5rem;
  border-radius: .2rem;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    background-color: rgba($color-primary, .3);
  }
  &.is-active {
    color: #fff;
    background-color: $color-primary;
    pointer-events: none;
  }
}
