h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5em;
  margin-top: 0;
  color: inherit;
  font-weight: 700;
  line-height: 1.2;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}
h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.6rem;
}
h3,
.h3 {
  font-size: 1.4rem;
}
h4,
.h4 {
  font-size: 1.2rem;
}
h5,
.h5 {
  font-size: 1rem;
}
h6,
.h6 {
  font-size: .8rem;
}

p {
  margin-top: 0;
  margin-bottom: $margin-bottom;
}

abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: help;
}

kbd {
  font-family: $font-monospace;
  padding: $label-padding-y $label-padding-x;
  color: $color-light;
  background-color: $color-dark;
  border-radius: $border-radius;
  font-size: 85%;
}

code {
  font-family: $font-monospace;
  padding:  $label-padding-y $label-padding-x;
  color: lighten($color-error, 7%);
  background-color: rgba($color-error, .15);
  border-radius: $border-radius;
  font-size: 85%;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: $margin-bottom;
  padding: $pre-padding-y $pre-padding-x;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  color: $color-dark;
  border-radius: $border-radius;
  border: $pre-border;
  background-color: $pre-background;
  overflow: auto;
  & > code {
    padding: 0;
    background: none;
    color: inherit;
  }
}
