@use "sass:math";

$color-primary: #2a5ece !default;
$color-success: #2ecc40 !default;
$color-warning: #ff851b !default;
$color-error: #d14c4a !default;
$color-dark: #333 !default;
$color-gray: #aaa !default;
$color-light: #fff !default;
$body-color: $color-dark !default;
$text-muted: $color-gray !default;

// Grid
$container-max-width: 920px !default;
$container-padding-x: 1rem !default;

// Font
$font-sans: -apple-system,BlinkMacSystemFont,Roboto, "Segoe UI", Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif !default;
$font-sherif: Georgia, "Times New Roman", Times, serif !default;
$font-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-size-root: 16px !default;

// Base
$line-height-base: 1.5 !default;
$margin-bottom: 1rem !default;
$border-radius: 4px !default;

// Forms
$form-field-margin: $margin-bottom !default;
$form-controls-padding-y: .5rem;
$input-radius: $border-radius !default;
$input-padding: $form-controls-padding-y .8rem !default;
$input-border-width: 1px !default;
$input-border-color: #bfbfbf !default;
$textarea-height: 4rem;

// Buttons
$btn-border-width: 1px;
$btn-bg: transparent !default;
$btn-color: $color-primary !default;
$btn-weight: 400 !default;
$btn-hover-bg: $color-primary !default;
$btn-hover-color: #fff !default;
$btn-primary-color: #fff !default;
$btn-padding: $form-controls-padding-y 1.2rem !default;
$btn-radius: $border-radius !default;

// Tables
$table-border-color: #ccc !default;
$table-head-bg: #f1f1f1 !default;
$table-td-bg: transparent !default;
$table-odd-bg: $table-td-bg !default;
$table-even-bg: #eee !default;

// Labels
$label-padding-y: .2em !default;
$label-padding-x: .45em !default;
$label-font-size: 85% !default;
$label-font-weight: 600 !default;
$label-border-radius: $border-radius !default;

// Badges
$badge-background: $color-primary !default;
$badge-fontsize: .8rem !default;
$badge-size: 20px !default;
$badge-shadow: 0 0 0 1px $color-light !default;
$badge-radius: math.div($badge-size, 2);

// pre code
$pre-padding-x: .75rem;
$pre-padding-y: .45rem;
$pre-background: #f7f7f7 !default;
$pre-border: 1px solid #ddd !default;
